*{
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}


.top{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.page{
    width: 100%;
    display: flex;
}
.carrinho_page{
    height: 100vh;
    display: flex;
    width: 25%;
    background-color: rgb(187, 192, 194);
    flex-direction: column;

}
.carrinho{
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    height: 90vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 204, 113);
    border: 4px darkgoldenrod solid;
    gap: 10px;
    overflow-y: auto; 
}
.carrinho_top_inf{
    display: flex;
    height: 25%;
    border: solid red 3px;
    justify-content: space-between;

}
.carrinho .cartao {
    flex-grow: 1;
}

.produtos .cartao {
    flex-grow: 1;
}
.produtos{
    align-content: flex-start;
    /* justify-content: safe; */
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(119, 121, 22);
    border: 4px darkgoldenrod solid;
}
.card{
    display: flex;
    width: 150px;
    height: 270px;
    border: 1px rgb(121, 121, 121) solid;
    
}
.cartao{
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    }
.cartao img{
    height: 80px;
    width: 80px;
}
.cartao_top{
    justify-content: center;
    display: flex;
    background-color: rgb(255, 136, 0);
}
.cartao_valor{
    justify-content: center;
    display: flex;
    background-color: rgb(134, 134, 76);
}
.cartao_estoque{
    justify-content: center;
    display: flex;
    background-color: rgb(134, 134, 76);
}
.cartao_main{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.cartao_botao{
    justify-content: center;
    display: flex;
    background-color: rgb(250, 210, 34);
}
